footer {
	background-color: #DAD9D5;
	height: 4em;

	nav {
		ul {
			display: flex;
			justify-content: space-evenly;
			list-style-type: none;
			li {
				padding: 1em;

        .copyright{
          padding-top: 5px;

          i {
            text-align: center;
            padding-left: 5px;
          }
        }
			}
		}
	}

	a {
		text-decoration: none;
	}
}
