$nav-breakpoint: 575px;

header {

  .headline {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  ul {
    text-align: center;
    li {
      padding-bottom: 1em;
    }
    li:last-child {
      padding-bottom: 1.5em;
    }
  }

  .menu-mobile {
    cursor: pointer;
    display: block;
    padding: 28px 20px;
    user-select: none;
    .menu-label {
      text-align: center;
    }
  }

  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }


  @media screen and (min-width: $nav-breakpoint) {

    .menu-mobile {
      display: none;
    }

    .menu {
      clear: none;
      max-height: none;
    }

    nav {
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        li {
          padding: 1em;
        }
      }
    }
  }
}
