header {
	.headline {
		text-align: center;
		padding-bottom: 1em;
		padding-top: 2em;
 		font-family: 'Alex Brush', cursive;
		font-size: 1.5em;
	}

	nav {
		ul {
			display: flex;
			justify-content: space-evenly;
			list-style-type: none;
			li {
				padding: 1em;
			}
		}
	}

	a {
		text-decoration: none;
	}

}
