@import "reset";
@import "body";
@import "header";
@import "footer";

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

h1, h2, h3, h4 {
  font-family: 'Alex Brush', cursive;
}

.pre-formatted {
  white-space: pre-wrap;
}

.hero-container {
  width: 100%;
  height: 600px;
  .hero-image {
    object-fit: cover;
    width: 100%;
    max-height:100%;
  }
  padding-bottom: 2em;

  @media screen and (max-width: 670px) {
    height: 280px;
  }
}


section {
  text-align: center;
  padding-bottom: 2em;

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }

  p:last-of-type {
    padding-bottom: 2em;
  }

  li {
    padding: 0.5em;
  }

  .hide_link {
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .gallery_image{
    img{
      padding: 5px;
      max-height: 400px;
      max-width: 100%;
      object-fit:scale-down;
    }
  }
}
