.hero-container
	= image_tag('gifts-image.jpeg', class: 'hero-image')

section
	h2 Gifts

	p.pre-formatted
		|
			We know it isn't traditional,
			it's not the way it's done...
			but instead of pots and pans,
			we'd like a little fun!

			So if you'd like to give a gift to help us
			celebrate...
			some help towards our honeymoon,
			we would appreciate!

			The choice is really up to you
			and we would like to say...

			that the best gift we could receive
			is you here on our special day!

		h3 Thank you xXx
